<div class="page-header">
  <h2>Edit list</h2>
</div>

<%= simple_form_for(resource) do |f| %>
  <%= f.error_notification %>

  <%= render 'form', :f => f %>

  <div class="actions">
    <%= f.button :submit, "Update", :class => 'btn' %>
  </div>
<% end %>

