<h2 class="page-header">Edit list</h2>

<%= simple_form_for(resource) do |f| %>
  <%= f.error_notification %>

  <%= render 'form', :f => f %>

  <div class="actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

