<div class="page-header">
  <h2>Last 10 logged users:</h5>
</div>

<div id='users'>
  <% @users.each do |user| %>
    <div class="user clearfix">
      <%= link_to(image_tag(user.avatar.thumb.url, :class => "thumb-profile", :alt => user.name), user_lists_path(user), :title => user.name) %>
      <%= link_to user.name, user_lists_path(user), :title => user.name %>
    </div>
  <% end %>
</div>
