<div class="page-header">
  <h2>Watched lists</h2>
</div>

<% if collection.any? %>
  <table class='zebra-striped'>
    <thead>
      <tr>
        <th>List name</th>
        <th>User name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |resource| %>
        <tr>
          <td><%= link_to resource.list.name, user_list_path(resource.list.user, resource.list) %></td>
          <td><%= resource.list.user.name %></td>
          <td><%= link_to "Stop watching", resource, :method => :delete, :confirm => "Are you sure?" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You are not watching any list.</p>
<% end %>

<%= paginate collection %>
