<div class="page-header">
  <h2>Lists of <%= parent.name %></h2>
</div>

<% if collection.any? %>
  <table class='zebra-striped'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |resource| %>
        <tr>
          <td><%= link_to resource.name, user_list_path(parent, resource) %></td>
          <td><%= link_to_watch resource %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>User <%= parent.name %> doesnt have any list.</p>
<% end %>
